.footer {
    background-color: #2b3436;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }
  
  .info,
  .quickLinks,
  .social {
    flex: 1;
    min-width: 250px;
  }
  
  .info h3,
  .quickLinks h3,
  .social h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
 
  ul { /* đổi tên thành 1 class vd: .cạido ul để fix lỗi */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  ul li a:hover {
    color: #1da1f2; /* Màu xanh dương khi hover */
  }
  
  .icons {
    display: flex;
    gap: 10px;
  }
  
  .icons img {
    width: 24px;    
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  .icons img:hover {
    transform: scale(1.1);
  }
  